*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
	font-family: 'Roboto', sans-serif;
}
.banner-page-content{
	background-color: #F8F8FA;
	height: 100%;
}
.banner-subcontent{
	margin: 0 10%;
	padding: 20px 0;
	background-color: white;
	width: 80%;
	min-height: 100%;
}
.kilroy-responsive{
	display: none;
}
.banner-contact-form{
	margin: 0 10%;
	padding: 5% 0;
	background-color: #F8F8FA;
	width: 80%;
	border-radius: 5px;
}
.banner-contact-form input[type="text"], .banner-contact-form input[type="email"], .banner-contact-form textarea{
	background: #fff;
	width: 80%;
	border: 1px solid #ECECEE;
	margin: 8px 10% 8px 10%;
	padding: 10px;
	box-sizing: border-box;
	font-size: 16px;
}
.banner-contact-form input[type="submit"]{
	background-color: #4387BC;
	color: #ffffff;
	font-size: 16px;
	width: auto;
	border: 0;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	margin-left: 10%;
	cursor: pointer;
}
.temporary-text{
	color: red;
	text-align: center;
	padding: 70px 0;
	font-size: 45px;
}
.tickets-content{
	background-color: #F8F8FA;
	margin: 20px 10% 5% 10%;
	width: 80%;
	height: auto;
	padding: 8px;
	display: flex;
	border-radius: 5px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.tickets{
	padding: 1%;
	width: 31%;
	min-height: 50vh;
	text-align: justify;
	font-size: 20px;
	border: 1px solid #ECECEE;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: #FFF;
}

@media only screen and (max-width:600px) {
.kilroy-responsive{
	display: block;
}
.banner-contact-form{
	margin: 0;
	padding: 5% 0;
	background-color: #fff;
	width: 100%;
	border-radius: 0;
}
.banner-contact-form input[type="text"], .banner-contact-form input[type="email"], .banner-contact-form textarea{
	width: 90%;
	margin: 8px 5% 8px 5%;
	padding: 10px;
	font-size: 14px;
}
}